@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.divNavbar {
  margin: 0 auto;
}

.carousel-item img {
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.colHome {
  margin: 0 auto;
}
.colHome .rowHome {
  padding: 5px;
}
.colHome .rowHome .colUpdates .card {
  height: 100px;
  color: black;
  display: flex;
  flex-direction: row;
}
.colHome .rowHome .colUpdates .card img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px !important;
  min-width: 70px;
}
.colHome .rowHome .colUpdates .card .body {
  flex: 1;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
}

.navbarSub {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}
.navbarSub a {
  color: #333333;
  text-decoration: none;
}
.navbarSub a:hover {
  text-decoration: underline;
}

.colTrending, .colMain, .colOthers {
  text-align: center;
}
.colTrending .colPHeading, .colMain .colPHeading, .colOthers .colPHeading {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
}

.sectionMain {
  background-color: lightgreen;
}

.sectionSports {
  background-color: lightpink;
}

.sectionTech {
  background-color: aliceblue;
}